{% extends 'base.html.twig' %}

{% block title %}Les articles de mode
{% endblock %}

{% block body %}
	<div class="container">
		<h1>{{ article.title }}</h1>

		<div class="row">
			<div class="col sm-6">
				<div class="card mb-3">
					<img src="{{ article.image }}" class="card-img-top w-25" alt="image de l'article">
					<div class="card-body">
						<h5 class="card-title">{{ article.title }}</h5>
						<p class="card-text">{{ article.category }}</p>
						<p class="card-text">{{ article.content }}</p>
					</div>
				</div>
				<button type="button" class="btn btn-outline-dark">
						 <a href="{{ path('app_article_index') }}">Voir tous les articles</a>
				</button>
               
			</div>
			


			<div class="col sm-6">
				<div class="card border-secondary mb-3" style="max-width: 35rem;">
					<div class="card-header">Commentaire</div>
					<div class="card-body text-secondary">
						{% for comment in comments %}
							<ul class="list-group list-group-flush">
								<li class="list-group-item">{{ comment.user.pseudo }}
									a dit:
									{{ comment.content }}</li>
							</ul>
						{% endfor %}
					</div>
					{# ici je recupere l'id de larticle et je le passe dans le lien  #}
					<button type="button" class="btn btn-outline-dark">
						<a href="{{ path('app_comment_new',{'id': article.id}) }}">
							Ajouter un commentaire
						</a>
					</button>
					

				</div>
			</div>
		</div>
	</div>
{% endblock %}
